@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
/*清除浮动*/
.clearfix{
    &:after{
        display: block;
        content: "";
        clear: both;
        height: 0;
        
    }
}
