@charset "utf-8";
@import "common";
@import "header";
@import "playersMatch";
@import "wordGroup";
@import "playersNumber";
@import "footer";
body{
    background: #efefef;
}
.mainWrap{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 6.5rem;
}
