@charset "UTF-8";
/*----线性渐变----begin--*/
/*----线性渐变----end--*/
* {
  margin: 0;
  padding: 0;
}

html {
  /*set 1rem=10px*/
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Microsoft YaHei";
}

ol,
ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.percent33 {
  width: 100%;
}

@media (min-width: 768px) {
  .percent33 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .percent33 {
    width: 33.3%;
  }
}
.jobcard {
  position: relative;
  overflow: hidden;
  margin: 20px 12px 12px;
  border-radius: 5px;
  background: #fff;
}
.jobcard table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 12px;
  color: #999999;
}
.jobcard table tr {
  border-bottom: 1px solid #ccc;
}
.jobcard table tr:last-child {
  border: none;
}
.jobcard table tr td {
  width: 50%;
  padding: 10px 0;
  border-right: 1px solid #ccc;
  text-indent: 10px;
}
.jobcard table tr td:last-child {
  border: none;
}
.jobcard table tr td .left {
  width: 35%;
  float: left;
}
.jobcard table tr td .left .thumbnail {
  width: 120px;
}
.jobcard table tr td .right {
  float: right;
  width: 60%;
  padding-left: 10px;
}
.jobcard table tr td h4 {
  line-height: 3;
  font-size: 16px;
  color: #333333;
}
.jobcard table tr td .jobcard-discription {
  font-size: 14px;
  color: #333333;
}
.jobcard table tr td .date-binding {
  color: #f20c00;
}
.jobcard table tr td .star-card {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin: 0 5px;
  vertical-align: middle;
  background: url("../img/star-card.png") center center no-repeat;
  background-size: 100%;
}
.jobcard table tr td .inner-table {
  width: 100%;
  display: table;
  margin: -10px 0;
}
.jobcard table tr td .inner-table .td-left {
  display: table-cell;
  width: 35%;
  vertical-align: middle;
  text-align: center;
}
.jobcard table tr td .inner-table .td-right {
  display: table-cell;
  border-left: 1px solid #ccc;
}
.jobcard table tr td .inner-table .td-right .row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.jobcard table tr td .inner-table .td-right .row:last-child {
  border-bottom: none;
}
.jobcard .jobcard-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  opacity: 0;
}
.jobcard .jobcard-mask:hover {
  opacity: 1;
}
.jobcard .jobcard-mask .job {
  padding-top: 80px;
  font-size: 18px;
  text-align: center;
}
.jobcard .jobcard-mask p {
  padding: 40px;
  font-size: 16px;
  text-indent: 2em;
  text-align: left;
}

/*动画创建*/
@keyframes jobcard-mask-animation {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
    color: #c8c8c8;
  }
  25% {
    background-color: rgba(200, 200, 200, 0.2);
    opacity: 0.3;
    color: gainsboro;
  }
  50% {
    background-color: rgba(80, 80, 80, 0.35);
    opacity: 0.6;
    color: #f0f0f0;
  }
  75% {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    color: #fafafa;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
  }
}
/* Firefox */
@-moz-keyframes jobcard-mask-animation {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
    color: #c8c8c8;
  }
  25% {
    background-color: rgba(200, 200, 200, 0.2);
    opacity: 0.3;
    color: gainsboro;
  }
  50% {
    background-color: rgba(80, 80, 80, 0.35);
    opacity: 0.6;
    color: #f0f0f0;
  }
  75% {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    color: #fafafa;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
  }
}
/* Safari 和 Chrome */
@-webkit-keyframes jobcard-mask-animation {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
    color: #c8c8c8;
  }
  25% {
    background-color: rgba(200, 200, 200, 0.2);
    opacity: 0.3;
    color: gainsboro;
  }
  50% {
    background-color: rgba(80, 80, 80, 0.35);
    opacity: 0.6;
    color: #f0f0f0;
  }
  75% {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    color: #fafafa;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
  }
}
/* Opera */
@-o-keyframes jobcard-mask-animation {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.1;
    color: #c8c8c8;
  }
  25% {
    background-color: rgba(200, 200, 200, 0.2);
    opacity: 0.3;
    color: gainsboro;
  }
  50% {
    background-color: rgba(80, 80, 80, 0.35);
    opacity: 0.6;
    color: #f0f0f0;
  }
  75% {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    color: #fafafa;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    color: white;
  }
}
.jobcard-mask:hover {
  animation: jobcard-mask-animation 5s;
  -moz-animation: jobcard-mask-animation 5s;
  /* Firefox */
  -webkit-animation: jobcard-mask-animation 5s;
  /* Safari and Chrome */
  -o-animation: jobcard-mask-animation 5s;
  /* Opera */
}

/*# sourceMappingURL=jobcard.css.map */
