@charset "utf-8";
@import "common";
@import"role";
body{
    background: $themeColor;
}
.vote-main {
    padding-bottom: 9.5rem;
    background: $themeColor;
    overflow: hidden;
}
.tip1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.1rem;
    line-height: 4.1rem;
    padding: 0 0.9rem;
    background: #C4E3F3;
    .tip1-txt {
        font-size: 1.3rem;
        color: #000;
        text-indent: 1rem;
    }
    .audio {
        width: 2.6rem;
        height: 2.6rem;
        background: url(../img/play.png) no-repeat left center transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        background-size: 100%;
    }
}
.tip2 {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    font-size: 0.75rem;
    color: white;
    text-indent: 10%;
    &:before {
        display: block;
        content: "";
        border: 0.25rem solid transparent;
        border-top-width: 0.5rem;
        border-top-color: #C4E3F3;
        position: absolute;
        top: 0;
        left: 10%;
    }
}
.role-list-group {
    overflow: hidden;
}

