@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

.wrap,
body,
footer,
html {

    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
body {

    font-family: "STHeitiSC";
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
    background: #ffffff;
}
.wrap {
    padding-bottom: 7rem;
}
li,
ul {
    list-style: none;
}
.left {
    float: left;
}

.right {
    float: right;
}

.header {
    background-color: #5fc0ce;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    .back {
        float: left;
        margin: 1rem 0 0 1.5rem;
        display: block;
        width: 1rem;
        height: 2rem;
        line-height: 2rem;
        background: url("../img/back.png") no-repeat left center;
        background-size: 100%;

    }
}
.title {
    color: #ffffff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: normal;
}

.user {
    background: url("../img/bg.png") 0 center scroll no-repeat;
    background-size: cover;
    height: 16.5rem;
    line-height: 16.5rem;
    width: 100%;
    overflow: hidden;
    color: #ffffff;
    .photo {
        margin: 4rem 1.5rem;
        width: 8.5rem;
        height: 8.5rem;
        border-radius: 50%;
        background: url("../img/user.png") center top no-repeat;
        background-size: cover;
    }
    .info-basic {
        margin-top: 6rem;
        font-size: 1.6rem;
        p {
            line-height: 2;
            img {
                margin-right: 0.5rem;
                width: 1rem;
            }
            span+span {
                margin-left: 1rem;
            }

        }
        .location {
            font-size: 1.4rem;
        }
    }

}

.info-detail {
    width: 100%;
    color: black;
    dl {
        width: 100%;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
        dd,
        dt {
            padding: 1rem 0;
        }
        dt {
            display: inline-block;
            text-indent: 1.5rem;
            border-bottom: 1px solid #ccc;
            width: 100%;
            font-size: 1.6rem;
            color: rgb(51, 51, 51);
            .blue-line {
                display: inline-block;
                width: 0.2rem;
                height: 1.5rem;
                background: #5AC0CE;
                margin-right: 1.5rem;
                vertical-align: middle;

            }
        }
        dd {
            float: right;
            border-bottom: 1px solid #ccc;
            width: 95%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:last-child {
                border-bottom: none;
            }
            span {
                color: #999;
            }
            img {
                width: 1.2rem;
                margin-right: 0.5rem;
            }

        }
        .type{
            white-space: nowrap;
        }
        .type:after {
            width: 1px;
            height: 1.5rem;
            margin: 0 1.5rem;
            background: #ccc;
            display: inline-block;
            content: "";
            vertical-align: middle;
            white-space: nowrap;
        }
        .price {
            padding-left: 0.5rem;
            color: #f00;
            font-style: normal;
        }
        .advantage {
            display: flex;
            align-items: center;
        }
    }

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
    .btn {
        width: 43%;
        height: 4.4rem;
        line-height: 4.4rem;
        border-radius: 0.5rem;
        border: 1px solid #5fc0ce;
        font-family: "HiraginoSansGB";
        font-size: 1.7rem;
    }
    .message {
        color: #5fc0ce;
        background: #ffffff;
        margin-left: 5%;
    }
    .call {
        color: #ffffff;
        background: #5fc0ce;
        margin-right: 5%;
    }
}
