@charset "utf-8";
//主题色
$themeColor: rgb(41,189,244);
$orange:#Fab344;
//最大宽度
$maxWidth: 768px;

//页面字体
$fontStack: "HiraginoSansGB";

* {
    margin: 0;
    padding: 0;
}

body,
footer,
html {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
}
body,
html {
    height: 100%;
}
html {
    font-size: 62.5%;
}
body {
    font-family: $fontStack;
    font-size: 1.7rem;
}
li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
/*清除浮动*/
.clearfix {
    &:after {
        display: block;
        content: "";
        clear: both;
        height: 0;

    }
}
.main1{
    width: 80%;
    display: block;
    margin: 5rem auto;
    h3{
      line-height: 2;
      font-size: 1.8rem;
      font-weight: normal;  
      color: rgb(78, 78, 78);
    }
}