@charset "utf-8";
//页脚
.footer {
    position: fixed;
    bottom: 0;
    .btn {
        margin: 0 2.5% 1rem;
        width: 95%;
        height: 4.5rem;
        line-height: 4.5rem;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        border: 0;
        background: #Fab344;
        &.btn-2 {
            margin: 0 12% 3rem;
            width: 76%;
            height: 4.3rem;
        }

    }
}
