@charset "utf-8";
$themeColor:#29bdf4;
//页脚
.footer {
    position: fixed;
    bottom: 0;
    background: $themeColor;
    .btn {
        display: block;
        margin: 0 auto 1rem;
        width: 95%;
        height: 4.5rem;
        line-height: 4.5rem;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        border: 0;
        outline:none;
        background: #Fab344;
        &.btn-2 {
            margin: 0 auto 3rem;
            width: 24rem;
            height: 4.3rem;
        }

    }
}
