@charset "utf-8";
//玩家人数
.playersNumber {
    margin-top: 0.5rem;
    background: #fff;
    .sum {
        display: inline-block;
        width: 90%;
        margin: 1rem 5%;
        font-size: 1.4rem;
        color: rgb(68, 68, 68);
    }
    .sumNumber {
        margin: 0 1rem;
        height: 2rem;
        line-height: 2rem;
        width: 3rem;
        border: none;
        font-size: 1.7rem;
        text-align: center;
        background: #f4f5f5;
        color: rgb(250, 179, 68);
    }
    .sumSet {
        display: inline-flex;
        align-items: center;
        width: 88%;
        margin: 1.5rem 6%;
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 4%;
            width: 1.5rem;
            height: 1.5rem;
            border: 0.1rem solid #ccc;
            cursor: pointer;
            background: transparent;
            .icon-add,
            .icon-minus {
                display: inline-block;
                width: 1rem;
                height: 0.3rem;
                vertical-align: middle;
                background: #fab344;
            }
            .icon-add {
                position: relative;
                &:before {
                    position: absolute;
                    top: -112%;
                    left: 34%;
                    display: inline-block;
                    width: 0.3rem;
                    height: 1rem;
                    content: "";
                    background: #fab344;
                }
            }
        }
        input[type=range] {
            width: 80%;
            height: .5rem;
            -webkit-appearance: none;
            background-color: #ffe6be;
            vertical-align: middle;
            outline:none;
            //设置滑块样式
            &::-webkit-slider-thumb {
                width: 3rem;
                height: 1.6rem;
                -webkit-appearance:none ;
                cursor: pointer;
                background: url(../img/slider-thumb.png) no-repeat;
                background-size: contain;
            }
        }
    }
}
