@charset "utf-8";
@import "common";
.main1 {
    .detail {
        font-size: 1.8rem;
        color: rgb(78, 78, 78);
    }
    ul {
        margin: 5rem 0;
        li {
            margin-top: -.1rem;
            border-top: 0.1rem solid #ccc;
            border-bottom: 0.1rem solid #ccc;
            a {

                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                line-height: 2;

                font-size: 1.8rem;
                color: rgb(78, 78, 78);
                .QQ {
                    font-size: 1.3rem;
                }
            }
            img {
                height: 1.7rem;
            }
        }
    }
    .QRcode {
        display: flex;
        justify-content: space-between;
        img {
            margin-bottom: 2.5rem;
            width: 5.6rem;
        }
        span {
            display: block;
            font-size: 1.3rme;
            color: rgb(78, 78, 78);
        }
    }
}
