@charset "utf-8";
@import "common";
$welcome-txt-color:#fff;
body{
    overflow: hidden;
}
.welcomeWrap{
    height: 100%;
    background: $themeColor;
}
.welcome{
    width: 66.6%;
    padding: 9.5rem 0;
    margin: 0 auto;
    .welcome-img{
        width: 100%;
    }
    .welcome-txt{
        margin-top: 4.4rem;
        font-size: 2rem;
        color: $welcome-txt-color;
        .dot{
            display: inline-block;
            margin: 0 1rem;
            vertical-align: middle;
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background: $welcome-txt-color;
        }
    }
}
