@charset "utf-8";
//翻牌页面

//引人入公告样式
@import "common";
//引入角色卡样式
@import "roleCard";
body{
    background:$themeColor;
}
.mainWrap{
    overflow: hidden;
    background: $themeColor;
    padding-bottom: 4.3rem;
}
