@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body,
footer,
html {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

body,
html {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "HiraginoSansGB";
  font-size: 1.7rem;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*清除浮动*/
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: .1rem solid #74d4eb;
  background: #29bdf4;
}
.header .btn {
  margin: 0 .8rem;
  height: 2rem;
  border: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.header .btn img {
  height: 100%;
}
.header .title {
  font-size: 1.7rem;
  color: #fff;
}

.playersMatch {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0.5rem;
  height: 22.5rem;
}
.playersMatch .matchTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-right: 0.1rem solid #d9d9d9;
  font-size: 1.8rem;
  color: #444444;
  background: #fff;
}
.playersMatch .matchTitle span {
  width: 1.8rem;
}
.playersMatch .setArea {
  position: relative;
  width: 80%;
  background: #fbfbfb;
}
.playersMatch .matchResult {
  height: 19rem;
  overflow-y: scroll;
}
.playersMatch .matchResult ul li {
  float: left;
  display: inline-flex;
  align-items: center;
  margin: 1rem 0 1rem 1.8rem;
  text-align: left;
  font-size: 1.3rem;
  color: #a1a1a1;
}
.playersMatch .matchResult ul li .square, .playersMatch .matchResult ul li .square2 {
  display: inline-block;
  margin-right: 1.1rem;
  width: 0.5rem;
  height: 0.5rem;
  background: #ee9f1b;
}
.playersMatch .matchResult ul li .square2 {
  background: #29bdf4;
}
.playersMatch .btn-set {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 0;
  border-top: 0.1rem solid #d9d9d9;
  outline: none;
  font-size: 1.4rem;
  color: #29bde0;
  background: transparent;
}
.playersMatch .btn-set img {
  width: 0.9rem;
  margin-left: 0.8rem;
}

.wordGroup {
  background: #fff;
  width: 100%;
}
.wordGroup input {
  width: 90%;
  line-height: 2;
  margin: 1rem 5%;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  outline: none;
  font-size: 1.3rem;
  color: #d7d7d7;
}
.wordGroup input:focus {
  border-bottom-color: #74d4eb;
}

.playersNumber {
  margin-top: 0.5rem;
  background: #fff;
}
.playersNumber .sum {
  display: inline-block;
  margin: 1rem 5%;
  font-size: 1.4rem;
  color: #444444;
}
.playersNumber .sumNumber {
  margin: 0 1rem;
  height: 2rem;
  line-height: 2rem;
  width: 3rem;
  border: none;
  font-size: 1.7rem;
  text-align: center;
  background: #f4f5f5;
  color: #fab344;
}
.playersNumber .tip {
  display: inline-block;
  margin-left: 1rem;
  color: #F01400;
  font-size: 1rem;
}
.playersNumber .sumSet {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 1.5rem 6%;
}
.playersNumber .sumSet .btn {
  margin: 0 4%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 0.1rem solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fab344;
  text-align: center;
  background: transparent;
}
.playersNumber .sumSet .btn:focus {
  border-color: #fab344;
}
.playersNumber .sumSet input[type=range] {
  width: 65%;
  height: .3rem;
  -webkit-appearance: none;
  background-color: #ffe6be;
  vertical-align: middle;
  outline: none;
}
.playersNumber .sumSet input[type=range]::-webkit-slider-thumb {
  width: 3rem;
  height: 1.9rem;
  -webkit-appearance: none;
  cursor: pointer;
  background: url(../img/slider-thumb.png) no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer .btn-footer {
  margin: 0 2.5% 1rem;
  width: 95%;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border: 0;
  background: #Fab344;
}

body {
  background: #efefef;
}

.mainWrap {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 6.5rem;
}

/*# sourceMappingURL=matchPage.css.map */
