@charset "utf-8";
@import "common";
$footerH: 4.5rem;
$footerMarginBottom: 2rem;

body {
    position: relative;
    font-family: $fontStack;
    color: $nomalColor;
    font-size: 32px;
    font-size: $fontSize;
    padding-bottom: $footerH+$footerMarginBottom;

}
.header {
    background: $themeColor;
    padding: 0 2rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;

    a {
        float: left;
        font-size: $fontSize;
        img {
            width: 1rem;
    vertical-align: middle;
        }
    }
    .title {
        text-align: center;
        text-indent: 40%;
        color: $white;
        font-size: 1.8rem;
    }
}
.user {
    background: url("../img/bg.png") 0 center no-repeat;
    background-size: cover;
    height: 10rem;
    display: flex;
    .userWrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .userPic {
        background: url("../img/user.png") center top no-repeat;
        background-size: 100%;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        margin: 0 1rem;
    }
    .userInfo {
        color: $white;
        line-height: 2;
        .location {
            background: url("../img/zone.png") left 0.8rem no-repeat;
            background-size: 0.8rem;
            padding-left: 1rem;
            span {
                font-size: 1.2rem;
            }
        }
        .basicInfo{
            font-size: 1.4rem;
            span+span{
                margin-left: 1.5rem;
            }
        }
        
    }
}


.userDetail {
    font-size: $fontSize;
    color: $nomalColor;
    dl {
        border-bottom: 1px solid #e1e5e7;
        dd,
        dt {            
            padding: 1rem 0;
            border-bottom: 1px solid #e1e5e7;
            display: flex;
            align-items: center;
        }
        dt {
            &:before {
                display: block;
                margin: 0 0.8rem;
                content: "";
                width: 0.2rem;
                height: 1.4rem;
                background: $themeColor;
            }
        }
        dd {
            margin-left: 1rem;
            .star {
                img {
                    height: 0.8rem;
                    margin: 0 0.2rem;
                }
            }
            .line {
                width: 1px;
                height: 1.5rem;
                background: #e1e5e7;
                margin: 0 1rem;
            }
            &:last-child {
                border-bottom: none;
                .muted {
                    line-height: 1;
                }
                p {
                    line-height: 1.5;
                    padding: 0;
                    margin: 0;
                }
            }

        }

    }

    .muted {
        color: $mutedColor;
        font-weight: bold;
        white-space: nowrap;
    }
    .strong {
        color: $strongColor;
        font-family: $fontStack2;
        font-weight: bold;
    }
}

.footer {
    @extend %maxWidth;
    display: flex;
    justify-content: space-between;
    height: $footerH;
    position: fixed;
    bottom: 0;
    margin-bottom: $footerMarginBottom;

    .btn {
        font-family: $fontStack2;
        font-size: 1.7rem;
        border-radius: 5px;
        border: 1px solid $themeColor;
        width: 44%;
        height: $footerH;
        margin: 0 2%;
    }
    .message {
        background: $white;
        color: $themeColor;
    }
    .call {
        background: $themeColor;
        color: $white;
    }

}
