body,
html, .footer {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "STHeitiSC";
}

.header {
  background: #5fc0cd;
  height: 4.5rem;
  line-height: 4.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .find {
  background: #51a8b4;
  border-radius: 5px;
  height: 70%;
  line-height: 2;
  text-align: center;
}
.header .find .btn-find {
  color: white;
  border: 1px solid transparent;
  padding: 0 0.6rem;
  margin: 0;
  background: transparent;
  height: 100%;
  border-radius: 5px;
}
.header .find .assistant {
  background: white;
  color: #5fc0cd;
  margin-left: -.7rem;
}
.header .map {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}
.header .map img {
  width: 2rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.home-main {
  padding-bottom: 5rem;
}

.list-group {
  margin: 0;
}
.list-group ul {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-group ul li {
  height: 4rem;
  line-height: 4rem;
  width: calc((100/3)*100%);
  font-family: "HiraginoSansGB";
  font-size: 1.4rem;
  text-align: center;
  color: #999999;
  border-right: 1px solid #ccc;
}
.list-group .list-group-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  line-height: 2;
  border-bottom: 1px solid #ccc;
}
.list-group .list-group-item img {
  height: 1.25rem;
  vertical-align: sub;
}
.list-group .list-group-item .item-left {
  font-size: 1.2rem;
  color: #5d5d5d;
}
.list-group .list-group-item .item-left img {
  padding-right: 0.5rem;
}
.list-group .list-group-item .item-left .date {
  margin-left: 1.7rem;
}
.list-group .list-group-item .item-left .date span {
  font-weight: bold;
  font-size: 1.4rem;
  color: #333333;
}
.list-group .list-group-item .item-right {
  line-height: 6;
}
.list-group .list-group-item .item-right strong {
  font-size: 1.5rem;
  color: #e63b0e;
}
.list-group .list-group-item .item-right img {
  margin-left: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  background: #f8fafb;
  height: 5rem;
}
.footer .footerWrap {
  width: 76%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footerWrap a {
  display: flex;
  height: 5rem;
  width: 5rem;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background: transparent top center no-repeat;
  background-size: 2rem;
}
.footer .footerWrap a span {
  display: block;
  font-size: 0.8rem;
}
.footer .footerWrap .home {
  background-image: url("../img/home.png");
  color: #5fc0cd;
  height: 4rem;
}
.footer .footerWrap .edit {
  background: #5fc0cd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footerWrap .edit img {
  width: 1.5rem;
}
.footer .footerWrap .mine {
  height: 4rem;
  background-image: url("../img/mine.png");
  color: #9b9b9b;
}

/*# sourceMappingURL=index.css.map */
