@charset "utf-8";
li{
    list-style: none;
}
.footer-top{
  background-color: rgb(249, 249, 249);
//
//line-height: 2.5;
  .col-md-4{
//  height: 206px;   
  }
}

.footer-center ul{
  li{
        float: left;
        line-height: 2;
    }
  li+li{
      padding-left: 20px;
  }  
} 
.footer-bottom{
  clear: both;
  background-color: rgb(29, 122, 217);
}

.footer-copyright{
//  height: 58px;
//  line-height: 58px;
    color:rgb(255,255,255);
    font-size: 14px;
    text-align: center;
    line-height: 2.5;
}
