@charset "utf-8";
.header-top{
  background-color: rgb(29, 122, 217);
//height: 40px;
//line-height: 40px;
  width: 100%;
  color: rgb(255,255,255);
  .row{
      
  }
}
.header-tel{
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    
}
.nav-tabs {
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    li{
        a{
            border-radius: 0;
            border-color: transparent  rgb(255,255,255) transparent rgb(255,255,255);
            height: 40px;
            line-height: 40px;
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 0;
            color: rgb(255,255,255);
            &:hover{
                color: rgb(0,0,0);
            }
        }
    }
}

.header-nav{
    background: rgb(249,249,249);
//  padding-bottom: 2rem;
//  height:100px;
//  line-height: 100px;
    

    .row{
        display:flex;
        justify-content: flex-end;

    }
    .nav {
        margin: 2rem 0;
        li{
            height: 5rem;  
            line-height: 5rem;
            text-align: center;          
        }
    }
    .nav-pills>li+li {
        margin-left: 0;
    }
    .nav-pills>li>a {
        border-radius: 4px;
        background-color: rgb(255,255,255);     
        color: rgb(0,0,0);
        line-height: 2;
//      line-height: .701;

    }
    .nav-pills>li>a:hover,.nav-pills>li.active>a {
        color: #fff;
        background-color: #337ab7;        
    }
}


