@charset "utf-8";
@import "common";
$maxWidth: 768px;
$fontStack: "HiraginoSansGB";
body,
footer,
html {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
}
body{
    font-family: $fontStack;
}
ul,li{
    list-style: none;
}
