@charset "utf-8";
body{margin: 0;padding: 0;}
$wrap_w:600px;
$wrap_h:$wrap_w;
$color: #e78326;
$radius:5px;
$space:5px;
.grid_wrap {
	width: $wrap_w;
	height:$wrap_h;
	margin:30px auto;
	border: 1px solid #ccc;
	padding:10px;
	border-radius:$radius;
	.grid{
		width:$wrap_w/3-$space*2;
		height:$wrap_h/3-$space*2;
		margin:$space;
		background: $color;
		border-radius: $radius;
		float: left;
		display: block;
	}
}
