@charset "utf-8";
//theme color;
$theme-c:rgb(94,192,205);

//body background color
$body-c:rgb(239,240,244);

//font-color
$font-c:rgb(255,255,255);
$label-w:10%;
$label-h:4rem;
$input-w:80%;
$input-h:2rem;

*{
	margin: 0;
	padding: 0;
}
a{text-decoration: none;}
html{font-size: 100%;}
body {
	font:normal 100%,Arial,sans-serif;font-size:14px;font-size:1.4rem;
	width: 100%;
	background-color:$body-c;
}

