.task a {
	float: left;
	margin: 1%;
	padding: 0 2%;
	line-height: 5rem;
	text-align: center;
	font-size: 2rem;
	border-radius: 5%;
	border: 1px solid #ffffff; 
	color: #ffffff;
	text-decoration: none;
}
.task a:hover{
	color: #29b078;
    box-shadow: 3px 3px 0px rgba(80,80,80,0.5),-1px -1px 0px rgba(80,80,80,0.5);
    background-color: #fff;
}
