$bgColor: #eff0f4;
$themeColor: #5ac0ce;
$bodyColor: #fff;
$fontSize:1rem;
$fontStack:"STHeitiSC";
$inputColor: #cec0cd;
$maxWidth:768px;
$itemHeight:3rem;
body {
    background: $bgColor;
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    font-family: $fontStack;
    font-size: $fontSize;
}
a{
    text-decoration: none;
}


.top {
    background: $themeColor;
    color: $bodyColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:$itemHeight;
    line-height: $itemHeight;
    padding: 0 1rem;
    a{
        color: #fff;
    }
    h3{
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    
}

.user {
    .userItem{
        background: #fff;
        margin: 2rem 0;
        display: inline-block;   
        width: 100%;     
        height:$itemHeight;
        line-height: $itemHeight;
        border: none;
        padding: .5rem 0;
        label{

            img{
            margin: 0 3%;
            padding-top: .8rem;
            height: 50%;
            float: left;
            
        }
        }
        
        input{
            border: none;
            border-left: 1px solid #ccc;
            height: .5*$itemHeight;
            line-height: .5*$itemHeight;
            width: 80%;
            font-size: (32/36)*$fontSize;
            text-indent: 2rem;
            color: $inputColor;           
            
            
        }
    }
    .log-in {
        background: $themeColor;
        width: 100%;
        height: $itemHeight;
        line-height: $itemHeight;
        color: $bodyColor;
        border: none;
        font-size: $fontSize;
        cursor: pointer;
    }
}

.forget {
    color: $themeColor;
    float: right;
    margin-top: 1rem;
    padding:0 .5rem 2rem 0;
    font-size: .8*$fontSize;
}
