@charset "utf-8";
.copyright {
    clear: both;
    line-height: 2.5;
    color: rgb(255,255,255);
    font-size: 14px;
    text-align: center;
    word-break: break-word;
    background-color: rgb(29, 122, 217);
    p{
        margin: 0;
    }
}
