@charset "utf-8";
@import "common";
.loginbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    background: #fff;
    .loginbar-tel {
        color: #29b078;
        font-size: 14px;
        text-align: left;
    }
    .loginbar-login {
        li {
            display: inline-block;
            &+& {
                margin-left: 14px;
            }

        }
    }
}
