@charset "utf-8";
html{
    font-size: 62.5%;
}
$unit:1rem;
$theme-color:#34bede;
$theme-color-sub:#f8b445;
$font-white:#fff;
$prompt-bg-c:#bae9f4;
body{
  font-family: "HiraginoSansGB";
    
	font-size: 1.3*$unit;
	max-width: 768px;
	margin:0 auto;
}

.body-wrap{
	background-color:#fff; 
	width:100%;
	margin:0 auto;
}

.navbar{
	background-color:$theme-color;
	border-color: $theme-color+5;
}
.navbar-fixed-top,.navbar-fixed-bottom,.result-main{
	max-width:768px;
	margin-left:auto;
	margin-right:auto;
}

.navbar-fixed-top{
	height:4rem;
	line-height: 4rem;
	text-align: center;
	.btn{
	    width:2rem;
        padding: 0;
        margin: .7rem 1.5rem;
        border: none;
        outline: none;
		background-color: transparent;
		font-size: 1.8*$unit;
		color:$font-white;
		
		img{
			width:100%;
		}
	}
	.btn-home{
	}
	span{
		font-size:1.8*$unit;
		color:$font-white;
	}
	.btn-info {
	}
}
.result-main{
    padding: 4rem 0 6.5rem;
}
.result-info{
    
}

.game-result{
	width:100%;
    padding: 1.5rem 4rem;
    background: $theme-color;
	.result-img{
		  font-size: 1.65rem;
  color: rgb(255, 200, 101);
		font-weight:bold;
		
		img{
			width:17.5rem;
			margin:0 auto;
			display: block;
		}
	}
	p{
	    margin: 1rem 0 3rem;
	}
	.result-detail{
		color:#fff;
		font-size:1.3rem;
		p{
		    margin: 0;
		    line-height: 1.5;
		}
	}
	.date-detail{
		background-color:#fff;
		width:100%;
	}
}
		.list-group-item{
		    padding: 0 4rem;
			&:first-child{
				border-radius: 0;
			}
		}
		dt{
			font-size: 1.3*$unit;
			line-height:2;
			.use-time{
				color: rgb(199, 199, 199);
				font-size:.85rem;
				font-weight:normal;
				
			}

		}
		dd{
			font-size: 1.3*$unit;
			color:#999;
		}

.navbar-fixed-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    line-height: 6.5rem;
	width:100%;
	background-color:rgba(154,223,239,.3);
	.btn{
    width: 40%;
    padding: 0;
    height: 4.5rem;
    line-height: 4.5rem;
    font-family: "STHeitiSC";
	color: $font-white;
    font-size: 2rem;
    font-weight: normal;
	}

	.btn-again{
		background-color:#f37072;
	}
	.btn-share{
		background-color:#f8b445;
	}
	
}
